.title__container {
  max-width: 1280px;
  padding-block: 1rem;
  color: white;
  margin-inline: auto;
}

.title__primary-title {
  font-size: 2.3rem;
  font-weight: 400;
}

.title__original-title {
  font-size: 1.6rem;
  font-weight: 300;
}

.title__episodes-number {
  font-size: 1.2rem;
  font-weight: 300;
}

.title__episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 5rem;
  margin-block: 1rem;
  margin-inline: 1rem;

  @media screen and (max-width: 768px) {
    margin-block: 1rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.title__episode {
  cursor: pointer;
}

.list {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 768px) {
    margin-block: 1rem;
    flex-direction: column;
    gap: 0;
  }
}

.list__element:first-child {
  list-style-type: none;
}

.list__element {
  cursor: pointer;
}

.star {
  width: 2.5rem;
  height: 2.5rem;
}

.title__number-of-votes {
  font-size: 0.8rem;
}

.title__details {
  font-weight: 600;
}

.title__rating-container {
  margin-bottom: 2rem;
}

.title__rating {
  font-size: 1.1rem;
  font-weight: bold;
}

.title__section-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.title__section-header--large {
  font-size: 2rem;
  font-weight: 500;
}

.title__rate-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.title__rate-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.title__photo-and-genres {
  display: flex;
  flex-direction: column;
}

.title__badge {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.title__alternatives {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.title__badge-element {
  width: 100%;
  cursor: pointer;
}

.title__plot-and-production {
  display: flex;
  flex-direction: column;
}

.title__plot {
  margin-top: auto;
  font-weight: 500;
}

.title__limit-button {
  font-size: 0.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.title__limit-button:hover {
  text-decoration: underline;
}

.title__cast-button {
  display: flex;
  justify-content: center;
}

.title__button-expand {
  cursor: pointer;
}

.title__button-expand:hover {
  text-decoration: underline;
}

.title__cast-button-icon {
  font-size: 1.5rem;
}

.title__section-cast {
  border-right: 1px solid grey;
}

.title__known-for {
  padding-inline: 5rem;
}

.title__top-cast {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
