.person-preview {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.person-preview__photo {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.person-preview__info {
  margin-left: 1rem;
}
