.container {
	min-height: 50vh; 
	max-height: 80vh; 
	overflow-y: auto; 
	padding-top: 300px;
	padding-bottom: 300px;	
}

.card {
	width: 18rem;
	height: 8rem;
	cursor: pointer;
}

.cardBody {
	min-height: 3rem;
	font-size: 1rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: flex;
	align-items: flex-end;
}
