.title-alternatives__container {
  max-width: 1280px;
  padding-block: 1rem;
  color: white;
  margin-inline: auto;
}

.title-alternatives__content {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid grey;
  margin: 0;
}

.title-alternatives__original-title {
  font-size: 1.6rem;
  font-weight: 300;
}

.title-alternatives__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.title-alternatives-icon {
  font-size: 1.6rem;
}

.text-bold {
  font-weight: bold;
}
