.nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 3rem;
    background-color: #343a40; 
    animation: fallFromTop 1s ease-out;
}

@keyframes fallFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.profile {
    padding-inline: 2rem;
}

@media (max-width: 40rem) {
    .profile {
        padding-inline: 0;
    }
}